@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./variables";
@import "./common";

@theme {
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 32px;
  --spacing-xl: 64px;
  --spacing-2xl: 128px;
  --spacing-3xl: 256px;
  --spacing-4xl: 512px;
  --spacing-5xl: 1024px;
  --spacing-6xl: 2048px;
  --spacing-7xl: 4096px;
  --spacing-8xl: 8192px;
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
